html {
    width: 100%;
    height: 100%;
    background: url("../Pictures/star.png"), linear-gradient(180deg, #000 0%, #41414F 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color : transparent;
    height: 100%;
    width: 100%;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden; /* Empêcher le défilement horizontal */
    background-color: transparent; /* Utiliser un fond transparent si nécessaire */
}

.container {
    width: 40%;
    margin: 10% auto;
    max-width: 100%; /* Utiliser une largeur maximale de 100% */
    box-sizing: border-box; /* Inclure les bordures et les marges dans la largeur totale */
}

.login-form {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

i{
    color : white;
    margin-top: 0.65rem !important;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    font-size: 16px;
    border-bottom: 2px solid #fff;
    outline: none;
}

.form-group input::placeholder {
    color: #fff;
}

.form-group .fa {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

.form-group .toggle-password {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    color: #fff;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

button.btn-login {
    width: 100%;
    padding: 10px;
    font-weight: 700;
    font-size: 1rem;
    color: black;
    background-color: white;
    border: none;
    border-radius: 75px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        margin: 10% auto;
        max-width: 80%;
    }

    .login-form {
        padding: 10px;
    }

    .form-group input {
        font-size: 14px;
    }

    button.btn-login {
        font-size: 0.9rem;
    }
}