
.picture-best-travel {
    background-color: #0a53be;
    aspect-ratio: 2;
    color: var(--actuel-ecrit-inverse-couleur); /* Ajoutez cette ligne pour définir la couleur du texte dans la div */
    border-radius: 15px;
}

.voyage-miniature {
    background-color: red;
    aspect-ratio: 1;
    border-radius: 15px;
}

.shop-picture {
    background-color: yellow;
    aspect-ratio: 3;
    border-radius: 15px;
    background-size: cover;
}


.quiz-miniature{
    background-color: green;
    aspect-ratio: 1;

    border-radius: 15px;
}

h2{
    font-weight: bold;
}

.other-travel,
.other-quiz{
    padding:0;
}

.miniature-img {
    overflow: hidden;
    background-size: cover;
}

.best-travel{
    padding:0;
}

.best-travel {
    position: relative;
}

@media (min-width: 768px) {
    .best-travel {
        position: relative;
        display: flex;
        flex-direction: column;

        justify-content: center;

        height: 100%; /* Utilisez la hauteur à 100% pour occuper toute la hauteur de la div parente */
    }

    .picture-best-travel {
        background-color: #0a53be;
        color: var(--actuel-ecrit-inverse-couleur);
        border-radius: 15px;
        position: relative;
        aspect-ratio: 3;
    }

    .best-travel-text {
        text-align: start;
        left: 0;


    }

    .travel {
        display: block;
    }


}


.content-shop{
    text-align: center;
    display: none;
}

a{
    text-decoration: none;
    color: var(--actuel-ecrit-couleur);
}


.create-travel-text{
    text-align: center;
}


.content {
    display: flex;
    flex-direction: column; /* Pour empiler les éléments verticalement */
    align-items: center;
    justify-content: center;
    text-align: center; /* Centre également le texte horizontalement */

}


.btn-see-other{
    display: flex;

}



.best-travel-contain{
    margin-left : 0 !important;
    margin-right : 0 !important;
}


.shop{
    padding-left:0 !important;
    padding-right: 0 !important;
}