RewriteEngine on

RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?] [NC]
RewriteRule ^ /%1 [R=302,L,NE]

RewriteCond %{REQUEST_URI} !\.(css|js|png|jpg)$ [NC]
RewriteRule ^((?!/).*)$ public/index.php [L,NC]
