.big-square,
.little-square,
.rectangle {
    border: 5px solid var(--actuel-main-couleur);
    border-radius: 15px;
    overflow: hidden;
}

.big-square {
    aspect-ratio: 1;
}

.little-square {
    aspect-ratio: 1;
}

.rectangle {
    aspect-ratio: 2;
}

[class*="col"] {
    padding: 0;
}



.color-fond {
    background-color: var(--actuel-element-back-couleur);
}

.icon-page {
    font-size: 70px;
    margin-top: 10px;
    margin-left:10px;
}

/* Ajout de styles pour rendre les liens plus évidents */
a {
    text-decoration: none;
    color: inherit;
    display: block;
}


.bento-2{
    margin:0;
}

.page-title{
    font-size:30px;
    margin-left:10px;
}

@media (min-width: 768px) {
    h3 {
        margin-top: 20px; /* Ajustez la valeur selon vos besoins */
    }
}


.admin-page{
    padding-top : 5%;
    padding-bottom : 5%;
}

